*
{
  /*Dark theme*/
  /*background-color: #404040;
  color : white;*/
  /*Light Theme*/
  /*background-color: white;*/
  color: black;
}

#FixedHeader
{
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: #404040;
  z-index: 1; /*on top*/
}

#containerFixedHeader
{
  display: flex;
  justify-content: space-between;
}

#containerLeftFixedHeader
{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#containerRightFixedHeader
{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#containerSideMenu
{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


#containerContentAndSideBar
{
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#containerFooter
{
  display: flex;
  flex-direction: row;
}

#content
{
  margin-left: 2%;
  width:80%
  display: flex;
  flex-direction: column;
  justify-content: center;
}

aside
{
  width:18%
  display: block;
}

section
{
}

/*#containerSideMenu input
{
  font-weight: bold;
  background : yellow;
}*/

.theme {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgba(220, 220, 0, 1);
  background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.theme:hover {
  background-color: rgba(255, 255, 0, 1);
}

.theme:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

img:hover {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(255, 255, 0, 0.67);
  -moz-box-shadow:    0px 0px 30px 0px rgba(255, 255, 0, 0.67);
  box-shadow:         0px 0px 30px 0px rgba(255, 255, 0, 0.67);
}

#mainLogo
{
	width: 48px;
	height: 55px;
	margin-left: 30px;
	margin-top: 2px;
	margin-right: 50px;
}

#postIdeaLabel
{
  color: white;
  font-size: 1.1em;
  font-weight: bold;
  background-color: #33CAFF;
  border-top: 10px #33CAFF;
  border-bottom: 10px #33CAFF;
  border-right: 10px #33CAFF;
  border-radius: 0px 40px 40px 0px;
  height: 55px;
  text-align: center;
  line-height: 300%;
  margin-top: 5px;
}

#searchBar
{
  background-color: #2A2A2A;
  color: white;
  border: 1px solid #2A2A2A;
  border-radius: 10px 10px 10px 10px;
  margin-right: 100px;
  height: 30px;
  margin-top: 15px;
}

#postIdeaButton
{
	width: 60px;
	height: 55px;
	margin-top: 5px;
}

#accountButton
{
	background-color: #2A2A2A;
	border: 1px solid #2A2A2A;
	border-radius: 40px 40px 40px 40px;
	margin-right: 30px;
	margin-top:5px;
	width: 50px;
	height: 50px;
}

#notificationButton
{
	background-color: #2A2A2A;
	border: 1px solid #2A2A2A;
	border-radius: 40px 40px 40px 40px;
	margin-right: 30px;
	margin-top: 5px;
	width: 50px;
	height: 50px;
}
.idea
{
  padding-left: 10px;
  padding-right: 10px;
  border: #404040 solid 2px;
  border-radius: 12px 12px 12px 12px;
  height: 200px;
  width: 100%; /*might be changed */
  margin-bottom: 20px;
}

.containerIdea
{
  display: flex;
  flex-direction: row;
}

.containerLeftColumnIdea
{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100px;
  height: 200px;
}

.containerRightColumnIdea
{
  display: flex;
  flex-direction: column;
  height: 90px;
}

.containerVoteIdea
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

body {
  margin: 0;
  padding: 0;
  background: #f4f8fb;
}
body {
  margin: 0;
  padding: 0;
  background: #f4f8fb;
}

/*#containerSectionHeader
{
  position: fixed;
  display: flex;
  width: 100%;
  height: 30px;
  justify-content: space-around;
  background-color: #404040;
  top: 60px;
  left: 0px;
  right: 0px;
}
*/
.buttons {
  display: flex;
  justify-content: space-around;
  background-color: #404040;
  padding:10px 20px;
  margin-top:60px;
  position: relative;
  height: 50px;
}
.button {
  display: flex;
  justify-content: center;
  height: 100%;
  border: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  background: transparent;
  color: rgba(255,255,255,0.75);
  margin: 0;
  padding: 0;
  outline: none !important;
  cursor: pointer;
  position: relative;
  transition: .3s ease-in-out;
  &.active {
    color: rgba(255,255,255,1);
  }
  & + & {
    margin-left: 40px;
  }
}

.buttons-strip
{
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 0%;
  height: 8px;
  background: #fff;
  transition: 0.3s ease-in-out;
  border-top-left-radius: 5px;
  border-top-right-radius:5px;
}
